.loginContainer {
  margin: 30vh auto;
  width: 50rem;
  height: 30rem;
  color: inherit;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.login-form input {
  background: white;
  height: 4rem;
  border: none;
  width: 100%;
  font-family: inherit;
  text-indent: 5px;
}

.login-form input:focus {
  outline: none;
}

.login-form input::placeholder {
  opacity: 0.5;
  color: #333;
  text-indent: 5px;
}

.login-form label {
  margin-top: 2rem;
}
