.section {
  min-height: 100vh;
  margin: 15rem auto;
}

.list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 4px;
}

.table {
  display: flex;
  height: 45px;
  gap: 4px;
  margin: 3rem 0 0 0;
  padding: 0;
  border-color: #323232;
  border-top: 2px solid;
  padding-right: 1rem;
  padding-top: 1rem;
}

.btn-container {
  justify-content: flex-end;
}

footer.table.btn-container > * {
  flex: 0 1 72px;
}

.item {
  background: white;
}

li {
  list-style: none;
}

.first {
  flex: 1;
}

.scnd {
  flex: 4;
}

.third {
  flex: 7;
}

.fourth {
  flex: 2;
}

.fifth {
  flex: 2;
}

@media (width>= 1140px) {
  .section {
    width: 1140px;
  }
}

@media (769px <= width < 1140px) {
  .section {
    width: 970px;
  }
}
