.table-header {
  display: flex;
  gap: 4px;
  margin: 8px 0 0 0;
  padding: 0;
}

.list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 4px;
}

.top {
  color: white;
  background: #ed1a3b;
  font-weight: 600;
  justify-content: center;
}

li {
  list-style: none;
}

.first {
  flex: 1;
}

.scnd {
  flex: 4;
}

.third {
  flex: 7;
}

.fourth {
  flex: 2;
}

.fifth {
  flex: 2;
}
