.list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 4px;
}

.item {
  background: white;
}

.item input {
  border: none;
  width: 100%;
  font-family: inherit;
}

.item input::placeholder {
  opacity: 0.5;
  color: #333;
  text-indent: 5px;
}

.item button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding-left: 2.3rem;
}

.item button:hover {
  cursor: pointer;
}

.normal {
  height: 37px;
}

.large {
  height: 185px;
}

li {
  list-style: none;
}

.one-size {
  flex: 1;
}

.two-size {
  flex: 2;
}
.four-size {
  flex: 4;
}

.seven-size {
  flex: 7;
}
