.list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 4px;
}

.item {
  background: white;
}

.item input {
  border: none;
  width: 100%;
  font-family: inherit;
}

.item input::placeholder {
  opacity: 0.5;
  color: #333;
  text-indent: 5px;
}

li {
  list-style: none;
}

.normal {
  height: 37px;
}

.large {
  height: 74px;
}
