.login {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  border: none;
}

button:hover {
  cursor: pointer;
}

.create {
  background-color: #ed1a3b;
  border: none;
  color: #fff;
  font-weight: 600;
}

.back {
  background-color: #323232;
  border: none;
  color: #fff;
  font-weight: 600;
}

/*
.create:hover {
  cursor: pointer;
}

.back:hover {
  cursor: pointer;
}*/
