@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #e4e4e4;
  height: 60px;
  font-family: "Proxima Nova", arial;
  line-height: 48px;
  border-bottom: 2px solid #ececec;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 1rem;
}

.sub-header ul {
  display: flex;
  gap: 1rem;
}

.sub-header ul li {
  font-size: 1.3rem;
  list-style: none;
  display: inline-block;
}

.sub-header ul li a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}
